@model dnd123.ViewModels.AddCharacterViewModel;


<h1>Add Character</h1>

<table>
    <form asp-controller="Create" asp-action="Add" method="post">
        <tr>
            <td>
                <label asp-for="Name"></label>
            </td>
            <td>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Bio"></label>
            </td>
            <td>
                <input asp-for="Bio" />
                <span asp-validation-for="Bio"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Race">Race</label>
            </td>
            <td>
                <select asp-for="Race" asp-items="Model.Races"></select>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="CharacterClass">Class</label>
            </td>
            <td>
                <select asp-for="CharacterClass" asp-items="Model.CharacterClasss"></select>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Abilities">Abilities</label>
            </td>
            <td>
                <select multiple size="3" asp-for="Abilities" asp-items="Model.Ability"></select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Create Character" />
            </td>
        </tr>
    </form>
</table>